#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        zero_layer {
            bindings = <
                &mkp RCLK &mkp MCLK &mkp MB4  &mkp MB5
                &mkp LCLK            &mo 1
            >;
        };
        one_layer {
            bindings = <
                &msc SCRL_UP  &msc SCRL_LEFT  &msc SCRL_RIGHT  &mo 2
                &msc SCRL_DOWN                                 &trans
            >;
        };
        two_layer {
            bindings = <
                &sys_reset &ext_power EP_TOG &mo 3  &trans
                &bt BT_CLR                          &trans
            >;
        };
        three_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &trans &trans
                &bt BT_CLR                       &trans
            >;
        };
        four_layer {
            bindings = <
                &trans &trans &trans &trans
                &trans               &trans
            >;
        };
        five_layer {
            bindings = <
                &trans &trans &trans &trans
                &trans               &trans
            >;
        };
    };
};
